---
title: A page for you
layout: base.njk
---

<div class="container">
    <h1>This page is for you!</h1>
    <div class="stuff">
        <div class="message">You are ugly, old and fat!</div>
    </div>
</div>

<script src="/js/script.js"></script>